.Notifications {
    border: dashed red;
    padding: 2rem;
}

li[data-priority="default"] {
    color: blue;
    font-size: larger;
}

li[data-priority="urgent"] {
    color: red;
    font-size: larger;
}