:root {
    --main-color: #e01d3f;
  }
  
.footer {
    border-top: var(--main-color) 3px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-style: italic;
}